@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/505/301/174/aurora-blur-rainbow-color-wallpaper-preview.jpg");
    background-size: cover;
    color: white;
}
img{
    width: 300px;
    height: 450px;
}

#title-cont{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    color: white;
}
#home{
    color: white;
    text-decoration: none;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box #search-input {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form button {
    all: unset;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px;


  }
  
  .login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #9706e6);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  #nowPlaying{
      margin-left: 5%;
  }
  

#search-input{
  border: .2rem solid #0c9bfa;
  font-size:1rem;
  padding: 0.5rem 1rem;
  color:#fff;
  border-radius:.3rem;
  background:#171d2e;
}

#search-input:focus{
  outline:none;
}

#search-input:focus ~ label,
#search-input:not(:focus):valid ~ label{
  transform: translateY(50%);
  top:-25%;
  left:1rem;
  font-size:1.25rem;
  padding: 0 .3rem;
}


 #movies-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

figure{
    text-align: center;
}
#movie-title{
    align-self: flex-end;
    justify-self: flex-start;
    font-weight: bold;
    text-align: center;
} 
form{
    text-align: center;
}
#loadMore{
    text-align: center;
}
#load-more-movies-btn{
    all: unset;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: black;
    padding: 20px 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  #load-more-movies-btn:hover{
      border: solid grey 1px;
  }

  #show-cont{
      display: flex;
      justify-content: center;
      
  }
  #goTop{
      text-decoration: none;
      color: white;
  }
  
  .show{
    all: unset;
    cursor: pointer;
    
    background-color: black;
    padding: 20px 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  .show:hover{
    border: solid grey 1px;
  }
  .hide{
    all: unset;
    cursor: pointer;
    display: none;
    background-color: black;
    padding: 20px 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }